<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Market System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<h1 class="title">Stock Market</h1>
    <ul>
        <li><a href="/assets/add">Add Asset</a></li>
        <li><a href="/assets">View Assets</a></li>
        <li><a href="/updateAsset">Update Asset</a></li>
        <li><a href="/viewasset">View Asset</a></li>

        <li><a href="/userPortoflio">Create Portflio</a></li>

        <li><a href="/choosePortflio">Portflio status</a></li>
    </ul>
</body>

</html>