<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Portoflios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>
    <a href="/" class="thepositionform">Menu</a>
    <div class="container">
        <form method="POST" action="/choosePortflio">
            <div class="row">

                <div class="col-75" class="firstchild">
                    <input type="text" name="email" placeholder="Email..">
                </div>
            </div>

            <div class="row">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
    {% if message %}
    <p class=error><strong>Error:</strong> {{ message }} {% endif %} {% if portofliosSubject %}
        <table border="1" class="table">
            <tr>
                <th class="tablerow">Subjects</th>
            </tr>
            {% for protoflioSubject in portofliosSubject %}
            <tr>
                <td><a class="tablerow" href="/portflioStatus/{{protoflioSubject}}/{{userEmail}}">{{protoflioSubject}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {%endif%}
</body>

</html>